## Basic Syntax In Python

In [1]:
## Case sensitivity
name="Martial"
Name="Domche"

print(name)
print(Name)

Martial
Domche

In [2]:
## identation : is uses to define blocks of code
age=32
if age>30:
    print("salutation")

print("salutation mon vieux")

salutation
salutation mon vieux

In [3]:
## Line contuination (pour aller a ligne)
total = 1+20+34+45+55+\
56+46+56
print(total)

313

In [4]:
## Multiple Statments on a single line
x=4;y=23;z=x+y
print(z)

27

## Variables In Python

In [5]:
## Declaring and Assigning Variables
age=23
height=6.6
name="Domche"
is_student=True

## Printing the Variables

print("age :", age)
print("Height: ", height)
print("Name: ", name)

age : 23
Height:  6.6
Name:  Domche

In [6]:
#Naming Convention
## Variables names should be descriptive
## The must start with a letter or an "_" and contains letter, numbers and underscores

fisrt_name= "Martial"
last_name = " Naik"
lol = "bernadt"

## comparaison 
name==Name

True

In [7]:
#Python is dynamically typed, type of a variable is determined at runtime
age=34 #int
height=6.2 #float
name="Martial" #str
is_student=True #bool

In [8]:
## type checking and conversion 
type(height)
print(type(age))

## txpe conversion
age_str=str(age)
age="35"
## on ne peut pas convertir des nom, mot en int

<class 'int'>

In [9]:
age=input("What is you age")
print(age, type(age))

20 <class 'str'>

In [10]:
# Fonction pour effectuer les opérations
def calculer_operations(nombre1, nombre2):
    addition = nombre1 + nombre2
    multiplication = nombre1 * nombre2
    soustraction = nombre1 - nombre2
    try:
        division = nombre1 / nombre2
    except ZeroDivisionError:
        division = "Indéfinie (division par zéro)"
    
    return addition, multiplication, division, soustraction

# Demander à l'utilisateur d'entrer deux nombres
nombre1 = float(input("Entrez le premier nombre: "))
nombre2 = float(input("Entrez le deuxième nombre: "))

# Effectuer les calculs
addition, multiplication, division, soustraction = calculer_operations(nombre1, nombre2)

# Afficher les résultats
print(f"Addition: {nombre1} + {nombre2} = {addition}")
print(f"Multiplication: {nombre1} * {nombre2} = {multiplication}")
print(f"Division: {nombre1} / {nombre2} = {division}")
print(f"Soustraction: {nombre1} - {nombre2} = {soustraction}")

ValueError: could not convert string to float: ''

# Data Types in Python

In [ ]:
## Integer Example
age=40
type(age)

int

In [ ]:
## Floating point datatype
height=6.6
type(height)
print(type(height))

<class 'float'>

In [ ]:
## String datatypes example
name="Martial"
print(type(name))

<class 'str'>

In [ ]:
## Boolean datatype
True
type(True)

bool

In [ ]:
result="Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
result="Hello" + str(5)

## Operators In Python

In [ ]:
## Arithmethic Operation
a=10
b=5
add_result=a+b
sou_result=a-b
mult_result=a*b
div_result=a/b
floor_div_result=a//b
modulus_result=a%b
exponent_result=a**b 


print(add_result)
print(sou_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [ ]:
## Comparaison
a=12
b=13
a==b

False

In [ ]:
str="Martial"
Str="martial"
str==Str

str!=Str

True

In [ ]:
num1=34
num2=56

num1<num2

True

In [ ]:
num2!=num2

False

In [ ]:
num1>=num2

False

## Logical Operators

In [ ]:
## And, Not, Or
X=True
Y=False

result1 =X and Y
result2 =X or Y
result3 = not Y

print(result1)
print(result2)
print(result3)

False
True
True

## Conditionnal Statment

In [11]:
## Introduction to Conditional Statement 
## Evaluet the condition and verify if the condition ist True

age=20
if age>=18:
    print("You are allowed to vote in the election")

You are allowed to vote in the election

In [14]:
## Else condition 
## else execute one condition if the condition the if statment is false

age=int(input("how old are you ?: "))
if age>=18:
    print("You are not elligible to voted")
else:
    print("You are minor")

You are not elligible to voted

In [15]:
## The elif statement allows you to check multiple conditions. it stands for "else if"
age=int(input("Give me you age: "))
if age<13:
    print("You are a baby")
elif age<18:
    print("You are a teenager")
else:
    print("You are an adult")

You are an adult

In [16]:
## Nested conditional Statements 
## Pratical Examples
## Determine if a year is a leap year using nested statement(divisible par 4)

year=int(input("Enter a Number"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year, "is a leap year")

        else:
            print(year, "is nit a leap year")
    else:
        print(year,"is a leap year")
else:
    print(year, "is not a leap year")

1999 is not a leap year

## Loops

In [17]:
range(5)

range(0, 5)

In [18]:
## for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [20]:

#commence a 1, et arrete toi a 10, avec un pas de 1
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [21]:
##strings
str="martial Domche"
for i in str:
    print(i)

m
a
r
t
i
a
l

D
o
m
c
h
e

In [22]:
## while loop

## the while loop continues to executes as long as the conditions is true
count=0
while count<5:  #tant que..... fait 
    print(count)
    count=count+1

0
1
2
3
4

In [23]:
## Break statement
## the break statement exits the loops preamturely
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [24]:
## continue
##the continue statement skip the current iteration and continues with the next
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [25]:
## pass
## the pass statement is a null operation, it does nothing.
for i in range(5):
    if i==3:
        pass # ne fait absolument rien, et est utlise pour les fonctions vide
    
    print(i)

0
1
2
3
4

In [26]:
## nested loops
## a loops inside a loop
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}") # f et {} sont utilises pour prints des chaines de characteres

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [32]:
## calculate the sum of first N natural numbers using a while and for loop

n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("sum of first 10 natural number:", sum)

sum of first 10 natural number: 55

In [34]:
n=10
sum=0
count=1
for i in range(11):
    sum=sum+i
print(sum)

55

In [35]:
## Example Prime numbers between a and 100
for num in range(1, 100):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
            else:
                print(num)

3
5
5
5
7
7
7
7
7
9
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13
15
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
21
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
25
25
25
27
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
33
35
35
35
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
39
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
45
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
49
49
49
49
49
51
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
55
55
55
57
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
63
65
65
65
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
69
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
75
77
77
77
77
77
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
81
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
85
85
85
87
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
91
91
91
91
91
93
95
95
95
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
99